<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page</h1>
    <h2>Sum of 1 and 2 : </h2>
    <h3><%= 1 + 2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolorem numquam voluptatem eveniet veritatis eaque ad iste molestiae quo similique! Doloribus corrupti veritatis laboriosam rerum quos maiores ipsa, illo sequi?</p>
    <button>Click me!</button>
</body>
</html>